<p>
  <i class="fa fa-github fa-lg fa-fw"></i>
  <a href="https://github.com/sabman/" target="_blank">sabman</a>
</p>
<p>
  <i class="fa fa-linkedin fa-lg fa-fw"></i>
  <a href="https://www.linkedin.com/in/shoaibburq/" target="_blank">linkedin.com/in/shoaibburq</a>
</p>
<p>
  <i class="fa fa-laptop fa-lg fa-fw"></i>
  <a href="https://burq.fun/" target="_blank">burq.fun</a>
</p>
<p>
  <i class="fa fa-envelope-o fa-lg fa-fw"></i>
  <a href="mailto:shoaib.burq@gmail.com" target="_blank">shoaib.burq@gmail.com</a>
</p>
<!-- <p><i class="fa fa-mobile fa-lg fa-fw"></i> <a href="tel:6043561462" target="_blank">604-356-1462</a></p> -->
